div.skill_box{
webkit-text-size-adjust: 100%;
tab-size: 4;
font-family: inherit;
font-size: .875rem;
line-height: 1.25rem;
--tw-text-opacity: 1;
color: rgba(107,114,128,var(--tw-text-opacity));
border: 0 solid #e5e7eb;
box-sizing: border-box;
--tw-ring-inset: var(--tw-empty, );
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgba(59,130,246,.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-bg-opacity: 1;
background-color: rgba(243,244,246,var(--tw-bg-opacity));
border-radius: 9999px;
display: inline-block;
margin-bottom: 1rem;
margin-right: 1rem;
padding-bottom: .5rem;
padding-top: .5rem;
padding-left: 1rem;
padding-right: 2.5rem;
position: relative;
}


